<!DOCTYPE html>

<!-- Per usare le thymeleaf expressions -->
<html xmlns:th="http://www.thymeleaf.org"
	lang="it">
<head>
	<title>Aggiunta utente</title>
	<meta charset="utf-8">
	<meta name="author" content="Daniele Scalco">
	
	<!-- Utilizzo di Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color: rgb(245,255,250);">

	<!--  Container che contiene tutto il body necessario per Bootstrap -->
	<div class="container-fluid">
		
		<!-- TITOLO -->
		<h3 class="text-center text-primary">
			<a th:href="@{/homepage/home}" th:title="'Torna alla Homepage'" class="text-decoration-none">CINEMA MULTISALA</a>
		</h3>
		<hr>
		<br>


		<div class="col" th:if="${ruoliRichiesti}">
			<p th:text="${ruoliRichiesti}" class="text-danger text-center"></p>
		</div>
		
		<!-- FORM UTENTE -->
		<div class="row justify-content-center">
			<div class="col col-md-5">
						
				<form method="POST" th:action="@{/amministratore/salvaUtente}" th:object="${persona}">
					
					<h4 class="text-primary mb-3 text-center">Creazione nuovo account</h4>
					<br>					
					    
					<div class="form-row py-1">
						<input type="text" class="form-control" th:field="*{mail}" th:errorClass="is-invalid" placeholder="E-mail" autofocus="autofocus">
						<div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" th:class="invalid-feedback"></div>
					</div>
					<div class="form-row py-1">
						<input type="password" class="form-control" th:field="*{password}" th:errorClass="is-invalid" placeholder="Password">
						<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="invalid-feedback"></div>
					</div>
					<div class="form-row py-1">
						<input type="password" class="form-control" th:field="*{matchingPassword}" th:errorClass="is-invalid" placeholder="Conferma password">
						<div th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}" th:class="invalid-feedback"></div>
					</div>
					<div class="form-row mt-1" th:if="${#fields.hasGlobalErrors()}">
					  <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" style="color:rgba(220,53,69,255);font-size:small;margin">...</p>
					</div>
					<div class="form-row">
						<p>Seleziona i ruoli:</p>
						<ul style="list-style-type:none;">
							<li>
								<input type="checkbox" name="ruoli" value="UTENTE">
								<label>UTENTE</label>
							</li>
							<li>
								<input type="checkbox" name="ruoli" value="DIPENDENTE">
								<label>DIPENDENTE</label>
							</li>
							<li>
								<input type="checkbox" name="ruoli" value="AMMINISTRATORE">
								<label>AMMINISTRATORE</label>
							</li>
						</ul>
					</div>
					<div class="form-row py-1">
						<button id="submit" type="submit" class="btn btn-info btn-block">Crea account</button>
					</div>
				</form>
			</div>
		</div>
		
	</div>
	
</body>
</html>