<!DOCTYPE html>

<!-- Per usare le thymeleaf expressions -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="it">
<head>
	<title>Scheda Film</title>
	<meta charset="utf-8">
	<meta name="author" content="Daniele Scalco">
	
	<!-- Utilizzo di Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<!--  Container che contiene tutto il body necessario per Bootstrap -->
	<div class="container-fluid">
		
		<!-- TITOLO -->
		<h3 class="text-center text-primary">
			<a th:href="@{/homepage/home}" th:title="'Torna alla Homepage'" class="text-decoration-none">CINEMA MULTISALA</a>
			</h3>
		<hr>
		<br>
		
		
		
		<!-- FORM AGGIUNTA ORARIO -->
		<div class="row justify-content-center">
			<div class="col col-md-5">
				
				<!-- Enctype necessario per caricare il file -->
				<form method="POST" th:action="@{/dipendente/aggiungiOrario}">
					
					<h5 class="text-primary mb-3 text-center" th:text="'Aggiungi un orario per ' + ${titolo}"></h5>
					<br>
					<br>
					
					<div class="col text-center" th:if="${dataAggiunta}">
						<p th:text="${dataAggiunta}" class="text-success text-center"></p>
					</div>
					<div class="text-center col col-md-10 mx-auto" th:if="${problemaOrario}">
						<p th:each="p, iter : ${problemaOrario}" th:class="${iter.index} == 2? 'text-danger' : 'text-danger mt-n3'" th:text="${p}"></p>
					</div>
					
					<input type="hidden" name="titolo" th:value="${titolo}">
					
					<div class="form-row py-1">
						<input type="date" class="form-control col col-md-5 mx-auto" name="data" required="required">
					</div>
					<div class="form-row py-1">
						<input type="time" class="form-control col col-md-5 mx-auto" name="ora" required="required">
					</div>
					<div class="form-row py-1 form-control border-0 col col-md-5 mx-auto">
						<p class="mr-3 ml-n2">Seleziona la sala</p>
						<select name="sala">
							<option th:each="s : ${listaSale}" th:value="${s.numeroSala}" th:text="${s.numeroSala}">
						</select>
					</div>
					<div class="form-row py-1 mt-4">
						<button type="submit" class="btn btn-info btn-block col col-md-3 mx-auto">Aggiungi orario</button>
					</div>
				</form>
			</div>
		</div>
		
		<br>
		<div class="col col-md-6 mx-auto text-center">
			<a th:href="@{/programmazione/mostraProgrammazione}">Ritorna alla programmazione</a>
		</div>

		
	</div>
	<!-- Fine container -->
	
	<!-- Script per vedere l'immagine selezionata -->
	<script>
		
		const inputImmagine = document.getElementById("inputImmagine");
		const immagine = document.getElementById("immagine");
		
		inputImmagine.addEventListener("change", function () {
			const files = inputImmagine.files[0];
			if (files) {
				const fileReader = new FileReader();
				fileReader.readAsDataURL(files);
				fileReader.addEventListener("load", function () {
					immagine.innerHTML = '<img src="' + this.result + '" />';
				});    
			} else {
				immagine.innerHTML = '';
			}			
		});
		
	</script>
		
</body>
</html>