<!DOCTYPE html>

<!-- Per usare le thymeleaf expressions -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="it">
<head>
	<title>Scheda Film</title>
	<meta charset="utf-8">
	<meta name="author" content="Daniele Scalco">
	
	<!-- Utilizzo di Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<!--  Container che contiene tutto il body necessario per Bootstrap -->
	<div class="container-fluid">
		
		<!-- TITOLO -->
		<h3 class="text-center text-primary"> <a th:href="@{/homepage/home}" class="text-decoration-none">CINEMA MULTISALA</a></h3>
		<hr>
		<br>
		
		
		
		<!-- FORM AGGIUNTA FILM -->
		<div class="row justify-content-center">
			<div class="col col-md-5">
			
				<div class="col text-center" th:if="${filmGiaEsistente}">
					<p th:text="${filmGiaEsistente}" class="text-danger text-center"></p>
				</div>
				<div class="col text-center" th:if="${filmSalvato}">
					<p th:text="${filmSalvato}" class="text-success"></p>
				</div>
				
				
				<form method="POST" th:action="@{/dipendente/processFilm}" enctype="multipart/form-data" th:object="${film}">
					
					<h5 class="text-primary mb-3 text-center">Aggiungi un film alla collezione</h5>
					<br>
					
					<div class="form-row py-1">
						<input type="text" class="form-control" th:field="*{filmId.titolo}" placeholder="Titolo" autofocus="autofocus" required="required">
					</div>
					<div class="form-row py-1">
						<input type="text" class="form-control" th:field="*{regista}" placeholder="Regista" required="required">
					</div>
					<div class="form-row py-1">
						<input type="text" class="form-control" th:field="*{cast}" placeholder="Cast" required="required">
					</div>
					<div class="form-row py-1">
						<textarea rows="5" class="form-control" th:field="*{descrizione}" placeholder="Aggiungi una descrizione" required="required"></textarea>
					</div>
					<div class="form-row my-auto">
						<p>Inserisci l'immagine della locandina</p>
					</div>
					<div class="form-row py-1">
						<input type="file" accept="image/*" name="img" required="required">
					</div>
					<div class="form-row py-1">
						<input type="date" class="form-control" th:field="*{filmId.data}" required="required">
					</div>
					<div class="form-row py-1">
						<input type="time" class="form-control" th:field="*{filmId.oraInizio}" required="required">
					</div>
					<div class="form-row py-1">
						<button type="submit" class="btn btn-info btn-block">Aggiungi</button>
					</div>
				</form>
			</div>
		</div>

		
	</div>
	<!-- Fine container -->
		
</body>
</html>