<!DOCTYPE html>

<!-- Per usare le thymeleaf expressions -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="it">
<head>
	<title>Homepage</title>
	<meta charset="utf-8">
	<meta name="author" content="Daniele Scalco">
	
	<!-- Utilizzo di Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<!--  Container che contiene tutto il body necessario per Bootstrap -->
	<div class="container-fluid">
		
		
		
		<!-- TITOLO -->
		<h3 class="text-center text-primary">CINEMA MULTISALA</h3>
		<hr>
				
		
		
		<!-- BARRA DI NAVIGAZIONE -->
		<div id="menu" class="d-flex font-weight-bold">
			<ul class="nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">PROGRAMMAZIONE</a>
				</li>
				<li class="nav-item" sec:authorize="hasAnyAuthority('DIPENDENTE', 'AMMINISTRATORE')">
					<a class="nav-link" th:href="@{/dipendente/aggiungiFilm}">AGGIUNGI FILM</a>
				</li>
				<li class="nav-item" sec:authorize="hasAuthority('AMMINISTRATORE')">
					<a class="nav-link" th:href="@{/amministratore/listaPersone}">GESTIONE UTENTI</a>
				</li>
			</ul>
			
			<!-- Messaggio di avvenuta registrazione (opzionale) -->
			<div class="col col-md-4 mx-auto mb-n4 mt-n1" th:if="${registrazioneAvvenuta}">
				<p th:text="${registrazioneAvvenuta}" class="alert alert-info text-center"></p>
			</div>
			
			<ul class="nav ml-auto">
			    <li sec:authorize="isAnonymous()" class="nav-item">
			    	<a class="nav-link" th:href="@{/homepage/showRegistrazioneForm}">REGISTRAZIONE</a>
			    </li>
			    <li sec:authorize="isAnonymous()" class="nav-item">
			    	<a class="nav-link" th:href="@{/homepage/login}">LOGIN</a>
			    </li>
			    <li sec:authorize="isAuthenticated()" class="nav-item">
			    	<a class="nav-link" th:href="@{/logout}">LOGOUT</a>
			    </li>
			</ul>
		</div>
		<hr>
		
		
				
		<!-- LISTA FILM -->
		<!-- Se ci sono film in programmazione li mostra -->
		<div th:if="${!listaFilm.isEmpty()}">
			<div class="jumbotron pt-3 pb-2 my-3" th:each="film : ${listaFilm}">
				<div class="row">
					<div class="col-md-4 my-auto mx-auto">
						<p>
							<img th:src="'data:image/jpeg;base64,' + ${film.imageFromByteToString()}"
										th:class="'mx-auto d-block rounded'"
										th:alt="'Immagine ' + ${film.filmId.titolo}"
										th:width="220"
										th:height="288">
						</p>
					</div>
					<div class="col-md-4 my-auto mx-auto">
						<ul th:class="text-center" th:style="'list-style-type:none;'">
							<li><h4 th:text="${film.filmId.titolo}"></h4></li>
							<li><p th:text="'Regista: ' + ${film.regista}"></p></li>
							<li><p th:text="'Cast: ' + ${film.cast}"></p></li>
						</ul>	
					</div>
					<div class="col-md-2 my-auto mx-auto text-center">
						<a th:href="@{/scheda/mostraFilm(titoloFilm=${film.filmId.titolo})}">Vai alla scheda del film</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Se non ci sono film in programmazione scritta -->
		<div th:if="${listaFilm.isEmpty()}">
			<br><br>
			<p th:text="'Nessun film in programmazione'" th:class="'display-4 text-center'"></p>			
		</div> 

		
			
	</div>
	<!-- Fine container -->
		
</body>
</html>