<!DOCTYPE html>

<!-- Per usare le thymeleaf expressions -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="it">
<head>
	<title>Scheda Film</title>
	<meta charset="utf-8">
	<meta name="author" content="Daniele Scalco">
	
	<!-- Utilizzo di Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color: rgb(245,255,250);">

	<!--  Container che contiene tutto il body necessario per Bootstrap -->
	<div class="container-fluid">
		
		<!-- TITOLO -->
		<h3 class="text-center text-primary"> <a th:href="@{/homepage/home}" class="text-decoration-none">CINEMA MULTISALA</a></h3>
		<hr>
		
		
		
		<!-- BARRA DI NAVIGAZIONE -->
		<div id="menu" class="d-flex font-weight-bold">
				<ul class="nav mr-auto">
				    <li class="nav-item">
				      <a class="nav-link" th:href="@{/programmazione/mostraProgrammazione}">PROGRAMMAZIONE</a>
				    </li>
				    <li class="nav-item" sec:authorize="hasAnyAuthority('DIPENDENTE', 'AMMINISTRATORE')">
				      <a class="nav-link" th:href="@{/dipendente/aggiungiFilm}">AGGIUNGI FILM</a>
				    </li>
				</ul>
			<ul class="nav">
			    <li class="nav-item">
			      <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/homepage/showRegistrazioneForm}">REGISTRAZIONE</a>
			    </li>
			    <li class="nav-item">
			      <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/homepage/login}">LOGIN</a>
			    </li>
			    <li sec:authorize="isAuthenticated()" class="nav-item">
			      <a class="nav-link" th:href="@{/logout}">LOGOUT</a>
			    </li>
			</ul>
		</div>	
		<hr>
		
		
		
		<!-- FORM MODIFICA FILM -->	
		<!-- Enctype necessario per caricare il file -->
		<form method="POST" th:action="@{/dipendente/modificaFilm}" enctype="multipart/form-data">
			
			<h5 class="text-primary mb-3 text-center">Modifica Film</h5>
			<input type="hidden" name="titolo" th:value="${titolo}">
			<input type="hidden" name="regista" th:value="${regista}">
			<input type="hidden" name="cast" th:value="${cast}">
			<input type="hidden" name="descrizione" th:value="${descrizione}">
			
			<div class="row ml-5 mr-5">
				<div class="col col-md-5 mx-auto my-auto">
					<div class="form-row mb-n3">
						<p>Immagine locandina</p>
					</div>
					<div class="form-row py-1">
						<div id="immagine" th:data-immagine="${immagine}" th:data-titolo="${titolo}">
							<img th:src="'data:image/jpeg;base64,' + ${immagine}"
									th:class="'mx-auto d-block rounded'"
									th:alt="'Immagine ' + ${titolo}"
									th:width="264"
									th:height="345"
									th:title="${titolo}">
						</div>
					</div>
					<div class="form-row py-1">
						<input type="file" id="inputImmagine" accept="image/*" name="img">
					</div>
				</div>
				<div class="col col-md-6 mx-auto my-auto">
					<div class="d-flex align-content-between">
						<p class="text-center form-control font-weight-bold" style="border-style:none;">Titolo</p>
						<div class="col col-md-10">
							<input type="text" class="form-control" name="newTitolo" th:value="${titolo}" required="required">
						</div>
					</div>
					<div class="d-flex align-content-between">
						<p class="text-center form-control font-weight-bold" style="border-style:none;">Regista</p>
						<div class="col col-md-10">
							<input type="text" class="form-control" name="newRegista" th:value="${regista}" required="required">
						</div>
					</div>
					<div class="d-flex align-content-between">
						<p class="text-center form-control col col-md-2 font-weight-bold" style="border-style:none;">Cast</p>
						<div class="col col-md-10">
							<textarea rows="3" class="form-control mb-3" name="newCast" th:text="${cast}" required="required"></textarea>
						</div>
					</div>
					<div class="d-flex align-content-between">
						<p class="text-center form-control font-weight-bold" style="font-size:0.8em;border-style:none;">Descrizione</p>
						<div class="col col-md-10">
							<textarea rows="6" class="form-control" name="newDescrizione" th:text="${descrizione}" required="required"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-md-2 mx-auto">
				<div class="form-row py-1 mb-5">
					<button type="submit" class="btn btn-info btn-block">MODIFICA</button>
				</div>
			</div>
		</form>
			

		
	</div>
	<!-- Fine container -->
	
	<!-- Script per vedere l'immagine selezionata -->
	<script>
		
		const inputImmagine = document.getElementById("inputImmagine");
		const immagine = document.getElementById("immagine");
		const stringImage = document.getElementById("immagine").getAttribute("data-immagine");
		const titolo = document.getElementById("immagine").getAttribute("data-titolo");
		
		inputImmagine.addEventListener("change", function () {
			const files = inputImmagine.files[0];
			if (files) {
				const fileReader = new FileReader();
				fileReader.readAsDataURL(files);
				fileReader.addEventListener("load", function () {
					immagine.innerHTML = '<img src="' + this.result + '" width="264" height="345"' +
										' class="mx-auto d-block rounded" alt="Immagine Locandina"' +
										' title="Immagine Locandina"/>';
				});    
			} else {
				immagine.innerHTML = '<img src="data:image/jpeg;base64,' + stringImage + '"' +
									' class="mx-auto d-block rounded" alt="Immagine ' + titolo + '"' +
									' width="264" height="345" title="Immagine ' + titolo + '" />';
			}			
		});
		
	</script>
		
</body>
</html>