<!DOCTYPE html>

<!-- Per usare le thymeleaf expressions -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="it">
<head>
	<title>Programmazione</title>
	<meta charset="utf-8">
	<meta name="author" content="Daniele Scalco">
	
	<!-- Utilizzo di Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<!--  Container che contiene tutto il body necessario per Bootstrap -->
	<div class="container-fluid">
		
		<!-- TITOLO -->
		<h3 class="text-center text-primary" th:title="'Torna alla Homepage'">
			<a th:href="@{/homepage/home}" class="text-decoration-none">CINEMA MULTISALA</a>
		</h3>
		<hr>
		
		
		
		<!-- BARRA DI NAVIGAZIONE -->
		<div id="menu" class="d-flex font-weight-bold">
				<ul class="nav mr-auto">
				    <li class="nav-item">
				      <a class="nav-link" th:href="@{/programmazione/mostraProgrammazione}">PROGRAMMAZIONE</a>
				    </li>
				    <li class="nav-item" sec:authorize="hasAnyAuthority('DIPENDENTE', 'AMMINISTRATORE')">
				      <a class="nav-link" th:href="@{/dipendente/aggiungiFilm}">AGGIUNGI FILM</a>
				    </li>
				    <li class="nav-item" sec:authorize="hasAuthority('AMMINISTRATORE')">
				      <a class="nav-link" th:href="@{/amministratore/listaPersone}">GESTIONE UTENTI</a>
				    </li>
				</ul>
			<ul class="nav">
			    <li class="nav-item">
			      <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/homepage/showRegistrazioneForm}">REGISTRAZIONE</a>
			    </li>
			    <li class="nav-item">
			      <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/homepage/login}">LOGIN</a>
			    </li>
			    <li sec:authorize="isAuthenticated()" class="nav-item">
			      <a class="nav-link" th:href="@{/logout}">LOGOUT</a>
			    </li>
			</ul>
		</div>	
		<hr>
		
		
		<div class="col text-center" th:if="${filmEliminato}">
			<p th:text="${filmEliminato}" class="text-success text-center"></p>
		</div>
		<div class="col text-center" th:if="${filmModificato}">
			<p th:text="${filmModificato}" class="text-success text-center"></p>
		</div>
		
		
		<!-- PROGRAMMAZIONE -->
		<div th:if="${listaFilm.isEmpty()}">
			<br><br>
			<p th:text="'Nessun film in programmazione'" th:class="'display-4 text-center'"></p>			
		</div>
		<div th:each="film, status : ${listaFilm}" class="jumbotron pt-4 pb-2 my-3">
			<div class="row">
				<div class="col col-md-5 my-auto mx-auto">
					<p>
						<img th:src="'data:image/jpeg;base64,' + ${film.imageFromByteToString()}"
									th:class="'mx-auto d-block rounded'"
									th:alt="'Immagine ' + ${film.filmId.titolo}"
									th:width="264"
									th:height="345"
									th:title="${film.filmId.titolo}">
					</p>
				</div>
				<div class="col col-md-6 my-auto mx-auto">
					<ul th:class="'mx-auto text-center'" th:style="'list-style-type:none;'">
						<li><h4 th:text="${film.filmId.titolo}"></h4></li>
						<li><p th:text="'Regista: ' + ${film.regista}"></p></li>
						<li><p th:text="'Cast: ' + ${film.cast}"></p></li>
						<li><p th:class="'mx-auto text-justify'" th:text="${film.descrizione}"></p></li>
					</ul>
				</div>
			</div>
			
			<!-- TABELLA ORARI -->
			<div class="row justify-content-center mt-1">
				<div class="col col-md-5">
					<table th:class="'table table-sm table-borderless table-responsive text-center'">
						<tbody>
							<tr class="my-2">
								<td th:class="'font-weight-bold'" th:text="'Data:'"/>
								<th:block th:with="listaOrariSingoloFilm=${listaOrari.get(status.index)}">
									<th:block th:each="orario : ${listaOrariSingoloFilm}">
										<td th:text="${orario.data.getDayOfMonth()} + '/' + ${orario.data.getMonthValue()}"/>
									</th:block>
								</th:block>
							</tr>
							<tr>
								<td th:class="'font-weight-bold'" th:text="'Ora:'"/>
								<th:block th:with="listaOrariSingoloFilm=${listaOrari.get(status.index)}">
									<th:block th:each="orario : ${listaOrariSingoloFilm}">
										<td th:text="${orario.ora}"/>
									</th:block>
								</th:block>
							</tr>
							<tr sec:authorize="hasAuthority('UTENTE')">
								<td th:class="'font-weight-bold'" th:text="'Prenota:'"/>
								<th:block th:with="listaOrariSingoloFilm=${listaOrari.get(status.index)}">
									<th:block th:each="orario : ${listaOrariSingoloFilm}">
										<td><a class="btn btn-success btn-sm" th:title="'Prenota'"
												th:href="@{/prenotazione/prenota(titolo=${film.filmId.titolo}, data=${orario.data}, ora=${orario.ora})}">x</a>
										</td>
									</th:block>
								</th:block>
							</tr>	
							<tr sec:authorize="hasAnyAuthority('DIPENDENTE', 'AMMINISTRATORE')">
								<td th:class="'font-weight-bold'" th:text="'Elimina:'"/>
								<th:block th:with="listaOrariSingoloFilm=${listaOrari.get(status.index)}">
									<th:block th:each="orario : ${listaOrariSingoloFilm}">
										<td><a class="btn btn-danger btn-sm" th:title="'Cancella orario'"
												th:href="@{/dipendente/eliminaOrario(titolo=${film.filmId.titolo}, data=${orario.data}, ora=${orario.ora})}">x</a>
										</td>
									</th:block>
								</th:block>
							</tr>				
						</tbody>	
					</table>
				</div>
			</div>
			
			<!-- Controlla se utente -->
			<div class="col col-md-3 mx-auto text-center mt-n2 mb-2" sec:authorize="isAnonymous()">
				<a th:href="@{/homepage/login}" title="Login">Effettua il login per prenotare</a>
			</div>
			<div class="col col-md-3 mx-auto text-center mt-n2 mb-2" sec:authorize="hasAnyAuthority('DIPENDENTE', 'AMMINISTRATORE')">
				<p class="text-warning bg-light">Solo gli "UTENTI" possono prenotare</p>
			</div>
			
			<!-- Modifica/elimina -->
			<div sec:authorize="hasAnyAuthority('DIPENDENTE', 'AMMINISTRATORE')" class="col col-md-6 mx-auto mb-2">
				<div class="row">
					<a class="col col-md-2 text-center btn btn-danger btn-sm mx-auto" th:title="'Elimina film dal database'"
						th:href="@{/dipendente/eliminaFilm(titolo=${film.filmId.titolo})}">Elimina Film</a>
					<a class="col col-md-3 text-center btn btn-success btn-sm mx-auto" th:title="'Aggiungi orario'"
						th:href="@{/dipendente/formOrario(titolo=${film.filmId.titolo})}">Aggiungi orario</a>
					<a class="col col-md-2 text-center btn btn-warning btn-sm mx-auto" th:title="'Modifica dati del film'"
						th:href="@{/dipendente/formModificaFilm(titolo=${film.filmId.titolo})}">Modifica Film</a>
				</div>
			</div>
		</div>

		
	</div>
	<!-- Fine container -->
		
</body>
</html>