<!DOCTYPE html>

<!-- Per usare le thymeleaf expressions -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Prova Database</title>
</head>

<body>
	<h3>Prova Database</h3>
	
	
	<hr>
	<table border="1">
		<caption>Persone (getPersone())</caption>
		<thead>
			<tr>
				<th>Mail</th>
				<th>Password</th>
				<th>Ruolo</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="persona : ${persone}">
				<td th:text=${persona.mail}/>
				<td th:text=${persona.password}/>
				<td th:text=${persona.ruolo}/>
			</tr>
			
		</tbody>
		
	</table>
	
		
	<hr>
	<table border="1">
		<caption>Film (getFilms())</caption>
		<thead>
			<tr>
				<th>Titolo</th>
				<th>Data</th>
				<th>Orario inizio</th>
				<th>Descrizione</th>
				<th>Cast</th>
				<th>Immagine</th>
				<th>Regista</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="film : ${listaFilm}">
				<td th:text=${film.filmId.titolo}/>
				<td th:text=${film.filmId.data}/>
				<td th:text=${film.filmId.oraInizio}/>
				<td th:text=${film.descrizione}/>
				<td th:text=${film.cast}/>
				<td th:text=${film.immagine}/>
				<td th:text=${film.regista}/>
			</tr>				
		</tbody>
		
	</table>

	<hr>	
	<table border="1">
		<caption>Posti a sedere (getPosti())</caption>
		<thead>
			<tr>
				<th>Numero Fila</th>
				<th>Numero Posto</th>
				<th>Numero Sala</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="posto : ${posti}">
				<td th:text=${posto.idPosto.numeroFila}>
				<td th:text=${posto.idPosto.numeroPosto}>
				<td th:text=${posto.idPosto.numeroSala}>
			</tr>				
		</tbody>
		
	</table>
	
	<hr>
	<table border="1">
		<caption>Prenotazioni (getPrenotazioni())</caption>
		<thead>
			<tr>
				<th>Id</th>
				<th>Mail</th>
				<th>Titolo</th>
				<th>Data</th>
				<th>Ora Inizio</th>
				<th>Posti a sedere</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="prenotazione : ${listaPrenotazioni}">
				<td th:text=${prenotazione.id}>
				<td th:text=${prenotazione.persona.mail}>
				<td th:text=${prenotazione.film.filmId.titolo}>
				<td th:text=${prenotazione.film.filmId.data}>
				<td th:text=${prenotazione.film.filmId.oraInizio}>
				<td th:text=${prenotazione.postiASedere}>
			</tr>				
		</tbody>
		
	</table>
	
	<hr>
	<a th:href=@{/homepage/home}>Homepage</a>
		
		
</body>
</html>