<!DOCTYPE html>

<!-- Per usare le thymeleaf expressions -->
<html xmlns:th="http://www.thymeleaf.org"
	lang="it">
<head>
	<title>Scheda Film</title>
	<meta charset="utf-8">
	<meta name="author" content="Daniele Scalco">
	
	<!-- Utilizzo di Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<!--  Container che contiene tutto il body necessario per Bootstrap -->
	<div class="container-fluid">
		
		<h3 class="text-center text-primary"> <a th:href="@{/homepage/home}" class="text-decoration-none">CINEMA MULTISALA</a></h3>
		
		<hr>
		
		
		<!-- BARRA DI NAVIGAZIONE -->
		
		<div id="menu" class="d-flex font-weight-bold">
				<ul class="nav mr-auto">
				    <li class="nav-item">
				      <a class="nav-link" href="#">PROGRAMMAZIONE</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">AGGIUNGI FILM</a>
				    </li>
				</ul>
			<ul class="nav">
			    <li class="nav-item">
			      <a class="nav-link" th:href="@{/homepage/showRegistrazioneForm}">REGISTRAZIONE</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="#">LOGIN</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="#">LOGOUT</a>
			    </li>
			</ul>
		</div>
		
		<hr>
		
		
		<!-- SCHEDA FILM -->
		
		
		<div class="jumbotron">
			<p>
				<img th:src="'data:image/jpeg;base64,' + ${film.imageFromByteToString()}"
							th:class="'mx-auto d-block rounded'"
							th:alt="'Immagine ' + ${film.filmId.titolo}"
							th:width="320"
							th:height="400">
			</p>
			<ul th:class="'mx-auto text-center'" th:style="'list-style-type:none;'">
				<li><h4 th:text="${film.filmId.titolo}"></h4></li>
				<li><p th:text="'Regista: ' + ${film.regista}"></p></li>
				<li><p th:text="'Cast: ' + ${film.cast}"></p></li>
				<li><p th:class="'w-50 mx-auto'" th:text="${film.descrizione}"></p></li>
				<li>
					<div class="row justify-content-center">
						<div class="col col-md-5">
							<table th:class="'table table-bordered border-0 table-responsive'">
								<tbody>
									<tr >
										<td th:class="'font-weight-bold'" th:text="Data"/>
										<th:block th:each="orario : ${listaOrari}">
											<td th:text="${orario.data.getDayOfMonth()} + '/' + ${orario.data.getMonthValue()}"/>
										</th:block>
									</tr>
									<tr >
										<td th:class="'font-weight-bold'" th:text="Ora"/>
										<th:block th:each="orario : ${listaOrari}">
											<td th:text="${orario.ora}"/>
										</th:block>
									</tr>				
								</tbody>	
							</table>
						</div>
					</div>
				</li>
				<li><p><a th:href="@{/prenota}">Prenota Ora</a></p></li>
				
			</ul>	
		</div>

		
	</div>
		
</body>
</html>