<!DOCTYPE html>

<!-- Per usare le thymeleaf expressions -->
<html xmlns:th="http://www.thymeleaf.org"
	lang="it">
<head>
	<title>Scheda Film</title>
	<meta charset="utf-8">
	<meta name="author" content="Daniele Scalco">
	
	<!-- Utilizzo di Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<!--  Container che contiene tutto il body necessario per Bootstrap -->
	<div class="container-fluid">
		
		<h3 class="text-center text-primary">CINEMA MULTISALA</h3>
		
		<hr>
		
		
		<!-- BARRA DI NAVIGAZIONE -->
		
		<div id="menu" class="d-flex font-weight-bold">
				<ul class="nav mr-auto">
				    <li class="nav-item">
				      <a class="nav-link" href="#">PROGRAMMAZIONE</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">AGGIUNGI FILM</a>
				    </li>
				</ul>
			<ul class="nav">
			    <li class="nav-item">
			      <a class="nav-link" href="#">REGISTRAZIONE</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="#">LOGIN</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="#">LOGOUT</a>
			    </li>
			</ul>
		</div>
		
		<hr>
		
		
		<!-- SCHEDA FILM -->
		
		<div class="jumbotron">
			<p>
				<img th:src="'data:image/jpeg;base64,' + ${film.imageFromByteToString()}"
							th:class="'mx-auto d-block rounded'"
							th:alt="'Immagine ' + ${film.filmId.titolo}"
							th:width="320"
							th:height="400">
			</p>
			<ul th:class="text-center" th:style="'list-style-type:none;'">
				<li><h4 th:text="${film.filmId.titolo}"></h4></li>
				<li><p th:text="'Regista: ' + ${film.regista}"></p></li>
				<li><p th:text="'Cast: ' + ${film.cast}"></p></li>
				<li><p th:text="${film.descrizione}"></p></li>
				<li><p><a th:href="@{/prenota}">Prenota Ora</a></p></li>
			</ul>	
		</div>

		
		<hr>
		<a th:href="@{/homepage/provadb}">Prova database</a>	
	</div>
		
</body>
</html>