<app-nav></app-nav>
<div class="container-fluid">
	<h1>User Management System</h1>
	
	<div class="row">
		<div class="col-12">
			<!-- Il componente della route viene messo sotto il router-outlet -->
			<router-outlet></router-outlet>
		</div>
		<!-- Vecchio aspetto usato prima delle rotte
		<div class="col-8">
			Ogni componente dev'essere dichiarato nell'app.module.ts
			<app-users (updateUser)="updateUser($event)"></app-users>
		</div>
		*ngIf: direttiva che permette di mostrare l'elemento se la condizione è vera
		<div class="col-4" *ngIf="showForm">
			Se userSelected non è nullo mostro l'user-detail component e gli passo in input l'userSelected
			<app-user-detail [user]="userSelected"></app-user-detail>
		</div>
		-->
	</div>
 	
</div>